################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/bin
/Components/LiveSplit.EscapeGoat2.exe
/obj
/LiveSplit.EscapeGoat2.csproj.user
